[submodule "DESA9_LAB2"]
	path = DESA9_LAB2
	url = git@github.com:aleistrying/DESA9_LAB2.git
[submodule "DESA9_LAB3"]
	path = DESA9_LAB3
	url = git@github.com:aleistrying/DESA9_LAB3.git
[submodule "DESA9_LAB4"]
	path = DESA9_LAB4
	url = git@github.com:aleistrying/DESA9_LAB4.git
[submodule "DESA9_PARCIAL2"]
	path = DESA9_PARCIAL2
	url = git@github.com:aleistrying/DESA9_PARCIAL2.git
[submodule "DESA9_LAB6"]
	path = DESA9_LAB6
	url = git@github.com:aleistrying/DESA9_LAB6.git
[submodule "DESA9_LAB7"]
	path = DESA9_LAB7
	url = git@github.com:aleistrying/DESA9_LAB7.git
[submodule "DESA9_LAB8"]
	path = DESA9_LAB8
	url = git@github.com:aleistrying/DESA9_LAB8.git
